.now-temperature {
    font-family: "Cabin Sketch", cursive;
    font-size: 120px;
    left: 5px;
    margin: 0;
    position: relative;
    text-align: right;
  }
  .units {
    filter: none;
    font-family: "Cabin Sketch", cursive;
    font-size: 30px;
    position: relative;
    text-align: right;
    text-decoration: none;
  }

  .regular-unit{
    filter: none;
    font-family: "Cabin Sketch", cursive;
    font-size: 50px;
    position: relative;
    text-align: right;
    text-decoration: none;
    top: -65px;
  }