.now-temperature {
    font-family: "Cabin Sketch", cursive;
    font-size: 130px;
    left: 5px;
    margin: 0;
    position: relative;
    text-align: right;
  }
  .units {
    color: black;
    filter: none;
    font-family: "Cabin Sketch", cursive;
    font-size: 30px;
    position: relative;
    text-align: right;
    text-decoration: none;
  }

  .regular-unit{
    font-family: "Cabin Sketch", cursive;
    font-size: 30px;
    position: relative;
    text-align: right;
    top: -85px;
  }